[Desktop Entry]
Version=1.0
Type=Application
Name[am]=በፍጥነት ስርአት መረጃ
Name[ca]=Informació ràpida del Sistema
Name[cs]=Quick System Info
Name[da]=Hurtig systeminfo
Name[de]=Quick System Info
Name[el]=Συνοπτικές πληροφορίες συστήματος
Name[es]=Información rápida del Sistema
Name[es_ES]=Información rápida del sistema
Name[fi]=Quick System Info
Name[fr]=Informations rapides sur le système - Quick System Info
Name[fr_BE]=Informations rapides sur le système - Quick System Info
Name[gl_ES]=Información rápida do sistema
Name[he_IL]=פרטים מהירים על המערכת
Name[hu]=Gyors rendszerinformáció
Name[it]=Veloce Info di Sistema
Name[ja]=クイックシステム情報
Name[lt]=Greita sistemos informacija
Name[nb]=Rask systeminfo
Name[nl]=Snelle Systeeminformatie
Name[nl_BE]=Snelle Systeeminformatie
Name[pl]=Szybka Informacja o systemie
Name[pt]=Sistema (Informação sumária)
Name[pt_BR]=Informações do Computador
Name[ro]=Informații Sumare Despre Sistem
Name[ru]=Краткий отчёт о системе
Name[ru_RU]=Краткий отчёт о системе
Name[sl]=Hitre informacije o sistemu
Name[sq]=Hollësi Sistemi Shpejt e Shpejt
Name[sv]=Quick System Info
Name[tr]=Hızlı Sistem Bilgisi
Name[zh_TW]=快速顯示系統資訊
Name=Quick System Info
Comment[ca]=inxi -Fxxxrza
Comment[cs]=inxi -Fxxxrza
Comment[de]=inxi -Fxxxrza
Comment[el]=inxi -Fxxxrza
Comment[es]=inxi -Fxxxrza
Comment[es_ES]=inxi -Fxxxrza
Comment[fi]=inxi -Fxxxrza
Comment[fr]=inxi -Fxxxrza
Comment[fr_BE]=inxi -Fxxxrza
Comment[gl_ES]=inxi -Fxxxrza
Comment[he_IL]=inxi -Fxxxrza
Comment[hu]=inxi -Fxxxrza
Comment[it]=inxi -Fxxxrza
Comment[ja]=システム情報を表示します。端末からは inxi -Fxxxrza で起動します
Comment[nb]=inxi -Fxxxrza
Comment[nl]=inxi -Fxxxrza
Comment[nl_BE]=inxi -Fxxxrza
Comment[pl]=inxi -Fxxxrza
Comment[pt]=Mostra em terminal/consola a informação sobre o sistema dada pelo comando inxi -Fxxxrza
Comment[pt_BR]=O ‘Quick System Info’ é uma interface gráfica que utiliza o comando inxi -Fxxxrza para exibir as informações sobre os dispositivos do computador e sobre o sistema operacional
Comment[ru]=inxi -Fxxxrza
Comment[ru_RU]=inxi -Fxxxrza
Comment[sl]=inxi -Fxxxrza
Comment[sq]=inxi -Fxxxrza
Comment[sv]=inxi -Fxxxrza
Comment[tr]=inxi -Fxxxrza
Comment=inxi -Fxxxrza
Exec=quick-system-info-gui
Icon=mx-qsi
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Utilities
Keywords[ca]=qsi;quick;system;info;
Keywords[de]=qsi;quick;system;info;System;Informationen;
Keywords[es]=qsi;quick;system;info;rápida;sistema;información;
Keywords[es_ES]=qsi;quick;system;info;rápida;sistema;información;
Keywords[fi]=qsi;quick;system;info;tieto;järjestelmä;tiedot;
Keywords[fr]=qsi;quick;system;info;rapide;système;information;PC;
Keywords[fr_BE]=qsi;quick;system;info;rapide;système;information;PC;
Keywords[gl_ES]=qsi;quick;system;info;
Keywords[hu]=qsi;quick;system;info;rendszer;rendszerinfo;gyors;
Keywords[it]=vis;veloci;info;sistema;
Keywords[ja]=qsi;quick;system;システム;info;情報;
Keywords[nb]=qsi;quick;system;info;rask;systeminfo;systeminformasjon;
Keywords[pt]=qsi;quick;system;info;rápido;sistema;informação;
Keywords[pt_BR]=informações;rápidas;sistema;computador;equipamento;dispositivos;
Keywords[ru_RU]=qsi;quick;system;info;qsi;краткий;системе;отчет;
Keywords[sl]=qsi;hitro;sistem;quick;system;info;
Keywords[sq]=qsi;quick;system;info;hollësi;të shpejta;sistemi;
Keywords[sv]=qsi;quick;system;info;
Keywords[tr]=qsi;quick;system;info;hızlı;sistem;bilgi
Keywords=qsi;quick;system;info;
