[Desktop Entry]
Version=1.0
Type=Application
Name[am]=በፍጥነት ስርአት መረጃ
Name[ca]=Informació ràpida del Sistema
Name[da]=Hurtig systeminfo
Name[de]=Quick System Info
Name[el]=Συνοπτικές πληροφορίες συστήματος
Name[es]=Información rápida del Sistema
Name[es_ES]=Información rápida del sistema
Name[fr]=Informations rapides sur le système - Quick System Info
Name[fr_BE]=Informations rapides sur le système - Quick System Info
Name[hu]=Gyors rendszerinformáció
Name[it]=Veloce Info di Sistema
Name[ja]=クイックシステム情報
Name[lt]=Greita sistemos informacija
Name[nb]=Rask systeminfo
Name[nl]=Snelle Systeeminformatie
Name[nl_BE]=Snelle Systeeminformatie
Name[pl]=Szybka Informacja o systemie
Name[pt]=Sistema (Informação sumária)
Name[pt_BR]=Informações do Computador
Name[ro]=Informații Sumare Despre Sistem
Name[ru]=Быстрая информация о системе
Name[sl]=Hitre informacije o sistemu
Name[sq]=Hollësi Sistemi Shpejt e Shpejt
Name[sv]=Snabb Systeminformation
Name[tr]=Hızlı Sistem Bilgisi
Name[zh_TW]=快速顯示系統資訊
Name=Quick System Info
Comment[ca]=inxi -Fxxxrza
Comment[es]=inxi -Fxxxrza
Comment[es_ES]=inxi -Fxxxrza
Comment[fr]=inxi -Fxxxrza
Comment[fr_BE]=inxi -Fxxxrza
Comment[hu]=Gyors rendszerinformáció terminálban
Comment[it]=inxi -Fxxxrza
Comment[ja]=システム情報を表示します。端末からは inxi -Fxxxrza で起動します
Comment[nb]=inxi -Fxxxrza
Comment[nl]=inxi -Fxxxrza
Comment[nl_BE]=inxi -Fxxxrza
Comment[pt]=Mostra em terminal/consola a informação sobre o sistema dada pelo comando inxi -Fxxxrza
Comment[pt_BR]=Utiliza o comando inxi -Fxxxrza para exibir as informações sobre os dispositivos do computador com o inxi-gui
Comment[sl]=inxi -Fxxxrza
Comment[sq]=inxi -Fxxxrza
Comment[sv]=inxi -Fxxxrza
Comment=inxi -Fxxxrza
Exec=quick-system-info-gui
Icon=mx-qsi
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Utilities
