[Desktop Entry]
Version=1.0
Type=Application
Name=Quick System Info
Name[am]=በፍጥነት ስርአት መረጃ
Name[ar]=Quick System Info
Name[bg]=Quick System Info
Name[ca]=Informació ràpida del Sistema
Name[cs]=Quick System Info
Name[da]=Hurtig systeminfo
Name[de]=Quick System Info
Name[el]=Συνοπτικές πληροφορίες συστήματος
Name[es]=Información rápida del Sistema
Name[et]=Quick System Info
Name[eu]=Quick System Info
Name[fa]=Quick System Info
Name[fi]=Quick System Info
Name[fr]=Informations système
Name[he_IL]=Quick System Info
Name[hi]=Quick System Info
Name[hr]=Quick System Info
Name[hu]=Gyors rendszerinformáció
Name[id]=Quick System Info
Name[is]=Quick System Info
Name[it]=Veloce Info di Sistema
Name[ja]=Quick System Info
Name[kk]=Quick System Info
Name[ko]=Quick System Info
Name[lt]=Greita sistemos informacija
Name[mk]=Quick System Info
Name[mr]=Quick System Info
Name[nb]=Quick System Info
Name[nl]=Snelle Systeeminformatie
Name[pl]=Szybka Informacja o systemie
Name[pt_BR]=Informações do Computador
Name[pt]=Sistema (Informação sumária)
Name[ro]=Informații Sumare Despre Sistem
Name[ru]=Quick System Info
Name[sk]=Quick System Info
Name[sl]=Hitre informacije o sistemu
Name[sq]=Quick System Info
Name[sr]=Quick System Info
Name[sv]=Snabb Systeminformation
Name[tr]=Quick System Info
Name[uk]=Quick System Info
Name[zh_CN]=Quick System Info
Name[zh_TW]=快速顯示系統資訊
Comment=inxi -Fxxxrza
Comment[am]=inxi -Fxxxrza
Comment[ar]=inxi -Fxxxrza
Comment[bg]=inxi -Fxxxrza
Comment[ca]=inxi -Fxxxrza
Comment[cs]=inxi -Fxxxrza
Comment[da]=inxi -Fxxxrza
Comment[de]=inxi -Fxxxrza
Comment[el]=inxi -Fxxxrza
Comment[es]=inxi -Fxxxrza
Comment[et]=inxi -Fxxxrza
Comment[eu]=inxi -Fxxxrza
Comment[fa]=inxi -Fxxxrza
Comment[fi]=inxi -Fxxxrza
Comment[fr]=inxi -Fxxxrza
Comment[he_IL]=inxi -Fxxxrza
Comment[hi]=inxi -Fxxxrza
Comment[hr]=inxi -Fxxxrza
Comment[hu]=Gyors rendszerinformáció terminálban
Comment[id]=inxi -Fxxxrza
Comment[is]=inxi -Fxxxrza
Comment[it]=inxi -Fxxxrza
Comment[ja]=inxi -Fxxxrza
Comment[kk]=inxi -Fxxxrza
Comment[ko]=inxi -Fxxxrza
Comment[lt]=inxi -Fxxxrza
Comment[mk]=inxi -Fxxxrza
Comment[mr]=inxi -Fxxxrza
Comment[nb]=inxi -Fxxxrza
Comment[nl]=inxi -Fxxxrza
Comment[pl]=inxi -Fxxxrza
Comment[pt_BR]=A informação dada pelo comando inxi -Fxxxrza no Terminal [inxi]
Comment[pt]=Mostra em terminal/consola a informação sobre o sistema dada pelo comando inxi -Fxxxrza
Comment[ro]=inxi -Fxxxrza
Comment[ru]=inxi -Fxxxrza
Comment[sk]=inxi -Fxxxrza
Comment[sl]=inxi -Fxxxrza
Comment[sq]=inxi -Fxxxrza
Comment[sr]=inxi -Fxxxrza
Comment[sv]=inxi -Fxxxrza
Comment[tr]=inxi -Fxxxrza
Comment[uk]=inxi -Fxxxrza
Comment[zh_CN]=inxi -Fxxxrza
Comment[zh_TW]=inxi -Fxxxrza
Exec=quick-system-info-gui
Icon=mx-qsi
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Utilities
